<!DOCTYPE html>
<html>
<head>
    <title> Sign Up </title>
    
    {% load widget_tweaks %}
    {% load staticfiles %}

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/css/signup.css' %}" type="text/css">
</head>
<body>

    <div class="signup_block">
        <form method="POST">    
        {% csrf_token %}
        <h1 id="intro"> Start your journey! </h1>

        <div>
            <label class="form-label" for="username"> Username: </label> </br>
            {{ form.username | add_class:"form-input" }}
            {{ form.username.errors }}
        </div>

        <div>
            <label class="form-label" for="name"> Name: </label> </br>
            {{ form.name | add_class:"form-input" }}
            {{ form.name.errors }}
        </div>

        <div>
            <label class="form-label" for="email"> </label> Email: </br>
            {{ form.email | add_class:"form-input" }}
            {{ form.email.errors }}
        </div>

        <div>
            <label class="form-label" for="password1"> </label> Password: </br>
            {{ form.password1 | add_class:"form-input" }}
            {{ form.password1.errors }}
        </div>

        <div>
            <label class="form-label" for="password2"> </label> Password Confirmation:</br>
            {{ form.password2 | add_class:"form-input" }}
            {{ form.password2.errors }}
        </div>
        
        <div>
            <input type="submit" name="signup" value="Sign Up">
        </div>

        </form>
    </div>

</body>
</html>