<!DOCTYPE html>
<html>
<head>
    <title> Reset Password </title>
    
    {% load widget_tweaks %}
    {% load staticfiles %}

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/css/password_reset.css' %}" type="text/css">
</head>
<body>
    
    <h2 id="page_title"> Password reset Complete</h2>
    <main>
        <div class="form_wrapper">
            <p> Password has been reset. Click on this <a href="/login/"> link </a> to login. </p>
        </div>
    </main>

</body>
</html>