<!DOCTYPE html>
<html>
<head>
    <title> Reset Password </title>
    
    {% load widget_tweaks %}
    {% load staticfiles %}

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/css/password_reset.css' %}" type="text/css">
</head>
<body>
    
    <h2 id="page_title"> Password reset </h2>
    <main>
        <div class="form_wrapper">
        {% autoescape off %}
        <p> To reset your password for your account in NoZeroDay. Kindly click the link below: </p>

        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

        If clicking the link didn't work, just copy and paste in into the address bar.errorlist

        Sincerely,
        NoZeroDay Team

        {% endautoescape %}
        </div>
    </main>

</body>
</html>