<!DOCTYPE html>
<html>
<head>
    <title> Reset Password </title>
    
    {% load widget_tweaks %}
    {% load staticfiles %}

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/css/password_reset.css' %}" type="text/css">
</head>
<body>
    
    <h2 id="page_title"> Password reset </h2>
    <main>
        <div class="form_wrapper">
            <p> 
                We've emailed the instructions to your email. Kindly check your inbox. If you can't find anything, try looking into your spam folder. Also make sure that the email your provided is correct.
            </p>
        </div>
    </main>

</body>
</html>