<!DOCTYPE html>
<html>
<head>
    <title> Reset Password </title>
    
    {% load widget_tweaks %}
    {% load staticfiles %}

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/css/password_reset.css' %}" type="text/css">
</head>
<body>
    
    <h2 id="page_title"> Password reset </h2>
    <main>
        <div class="form_wrapper">
        <form method="POST" id="edit_profile">
            {% csrf_token %}
            <h3> Provide your email so we can send you the link for your password reset. </h3>
            {{ form.email | add_class:"form_input" }}
            <input type="submit" name="update" value="Send Email" id="submit_form">
        </form>
        </div>
    </main>

</body>
</html>